@import url('https://fonts.googleapis.com/css?family=Codystar');
@import url(//fonts.googleapis.com/css?family=Oswald);

#container
{
  font-family: "Oswald", "sans-serif" !important;
  width: 70%;
  padding: 1em;
  margin: 0 auto;
  margin-top: 1em;
  box-shadow: 0 0 15px grey;
  
  background: white;
  border-radius: 5px;
  min-width: 270px;
  max-height: 550px;
  overflow-y: auto;
}

.character-error-message,
.loading-message {
  margin-top:20px;
}
th{
  font-weight: bold;
  font-size:25px;
  text-align:center !important;
}
table{
  margin: 0 auto;
  width: 100%;
}

td, th{
  width: 33%;
}

#innerContainer
{
  padding: 0 2em 2em 2em;
  text-align: center;
}



.Btn
{
  font-family: "Oswald";
  padding: 10px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.hide{
  display: none;
}

h1{
  font-family: "Codystar", "sans-serif" !important;
}


@media (max-width:775px){
  th{
    font-size:20px;
  }
  td{
    font-size: 10px;
  }
}

@media (max-width:600px){
  th{
    font-size:15px;
  }
  td{
    font-size: 8px;
  }
}

@media (max-width:500px){
  
  th{
    /* font-size:10px; */
  }
  td{
    font-size: 7px;
  }
  h1{
    font-size:26px !important;
  }
}